[flake8]
per-file-ignores = 
	__init__.py:F401
	src/lumicks/pyoptics/psf/reference.py:B023
max-line-length = 100
extend-ignore = E501, E203, E741, B023

exclude =
    build,
    .git,
    __pycache__,
    .ipynb_checkpoints,
    .pytest_cache,
    .venv,